<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Minha API</title>
    <style>
        h2 {
            color: blue;
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Testando enviado de API</h2>
    <p>Para aplicação funcionar, basta enviar para a rota /calcular/&lt;operação&gt;<br>
    Por exemplo: /calcular/23+34 irá somar os valores.
    <ul>
        <li>23*34 - Multiplica</li>
        <li>23-34 - Subtrair</li>
        <li>23/34 - Dividi</li>
        <li>23+34 - Soma</li>
    </ul>
    </p>
</body>
</html>